﻿<%@ Page Title="LeaveFlow | pending leave status" Language="VB" MasterPageFile="~/InnerMasterPage.master" AutoEventWireup="false" Inherits="lvMan.reports_pendingleavestatus" Codebehind="pendingleavestatus.aspx.vb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphInnerHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphInnerContent" Runat="Server">
    <table cellpadding="3" cellspacing="0" width="100%">
        <tr>
            <td class="bigtext">
            <asp:Label ID="lblTitle" Text="Pending Leave Detail" runat="server"></asp:Label>
            </td>
        </tr>  
        <tr>
            <td>
                <asp:GridView ID="grvList" Width="100%" CellPadding="4" BorderColor="#EEEEEE" runat="server" AutoGenerateColumns="False" 
                    DataSourceID="SqlList">
                    <Columns>
                        <asp:BoundField DataField="comName" HeaderText="Company" SortExpression="comName" />
                        <asp:BoundField DataField="dptName" HeaderText="Department" SortExpression="dptName" />
                        <asp:BoundField DataField="secName" HeaderText="Section" SortExpression="secName" />
                        <asp:BoundField DataField="usrFullName" HeaderText="Name" SortExpression="usrFullName" />
                        <asp:BoundField DataField="usrStaffID" HeaderText="Staff ID" SortExpression="usrStaffID" />
                        <asp:BoundField DataField="lrqStartDate" HeaderText="Start" DataFormatString="{0:d}" SortExpression="lrqStartDate" />
                        <asp:BoundField DataField="lrqStartTime" HeaderText="Time" SortExpression="lrqStartTime" />
                        <asp:BoundField DataField="lrqEndDate" HeaderText="End" DataFormatString="{0:d}" SortExpression="lrqEndDate" />
                        <asp:BoundField DataField="lrqEndTime" HeaderText="Time"  SortExpression="lrqEndTime" />
                        <asp:BoundField DataField="staName" HeaderText="Status" SortExpression="staName" />
                        <asp:BoundField DataField="lrqDate" HeaderText="Date Applied" DataFormatString="{0:d}" SortExpression="lrqDate" />
                        <asp:BoundField DataField="ApproverName" HeaderText="Next Approver" SortExpression="ApproverName" />
                        <asp:BoundField DataField="ApproverStaffID" HeaderText="Approver Staff ID" SortExpression="ApproverStaffID" />
                        <asp:BoundField DataField="ApproverEmail" HeaderText="Approver Email" SortExpression="ApproverEmail" />
                        <asp:BoundField DataField="appFinalApprover" HeaderText="Is Final Approver" SortExpression="appFinalApprover" />
                        <asp:BoundField DataField="appDateAlerted" HeaderText="Date Alerted" DataFormatString="{0:d}" SortExpression="appDateAlerted" />
                        
                    </Columns>
                    <RowStyle CssClass="greytable" />
                    <AlternatingRowStyle CssClass="whitetable" />
                    <PagerStyle CssClass="greytable" />
                    <HeaderStyle HorizontalAlign="Left" ForeColor="#FFFFFF" CssClass="tablecolors_title" />                            
                    <EmptyDataTemplate>
                    There are no records to show in this report
                    </EmptyDataTemplate>
                </asp:GridView>
                <asp:SqlDataSource ID="SqlList" runat="server" 
                    ConnectionString="<%$ ConnectionStrings:smartlvConnectionString %>" 
                    SelectCommandType="StoredProcedure"
                    SelectCommand="stpPendingLeaveStatus_Report">
                    <SelectParameters>
                        <asp:QueryStringParameter QueryStringField="comId" Name="comId" DefaultValue="0" Type="Int32" />
                        <asp:QueryStringParameter QueryStringField="dptId" Name="dptId" DefaultValue="0" Type="Int32" />
                        <asp:QueryStringParameter QueryStringField="secId" Name="secId" DefaultValue="0" Type="Int32" />
                        <asp:QueryStringParameter QueryStringField="usrId" Name="usrId" DefaultValue="0" Type="Int32" />
                        <asp:QueryStringParameter QueryStringField="ltyId" Name="ltyId" DefaultValue="0" Type="Int32" />
                        <asp:QueryStringParameter QueryStringField="sdt" Name="lrqDate1" Type="DateTime" />
                        <asp:QueryStringParameter QueryStringField="edt" Name="lrqDate2" Type="DateTime" />
                    </SelectParameters>
                </asp:SqlDataSource>
            </td> 
        </tr> 
     </table> 
</asp:Content>

