﻿<%@ Page Title="LeaveFlow | users" Language="VB" MasterPageFile="~/InnerMasterPage.master" AutoEventWireup="false" Inherits="lvMan.reports_users" Codebehind="users.aspx.vb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphInnerHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphInnerContent" Runat="Server">
    <table cellpadding="3" cellspacing="0" width="100%">
        <tr>
            <td class="bigtext">
            <asp:Label ID="lblTitle" Text="Users" runat="server"></asp:Label>
            </td>
        </tr>  
        <tr>
            <td>
                <asp:GridView ID="grvList" Width="100%" CellPadding="4" BorderColor="#EEEEEE" runat="server" AutoGenerateColumns="False" 
                    DataSourceID="SqlList">
                    <Columns>
                        <asp:BoundField DataField="comName" HeaderText="Company" SortExpression="comName" />
                        <asp:BoundField DataField="dptName" HeaderText="Department" SortExpression="dptName" />
                        <asp:BoundField DataField="secName" HeaderText="Section" SortExpression="secName" />
                        <asp:BoundField DataField="usrFullName" HeaderText="Name" SortExpression="usrFullName" />
                        <asp:BoundField DataField="usrStaffID" HeaderText="Staff ID" SortExpression="usrStaffID" />
                        <asp:BoundField DataField="usrName" HeaderText="User Name" SortExpression="usrName" />
                        <asp:BoundField DataField="usrEmailAdd" HeaderText="Email Add" SortExpression="usrEmailAdd" />
                        <asp:BoundField DataField="graName" HeaderText="Grade" SortExpression="graName" />
                        <asp:BoundField DataField="posName" HeaderText="Position" SortExpression="posName" />
                        <asp:BoundField DataField="usrSex" HeaderText="Gender" SortExpression="usrSex" />
                        <asp:BoundField DataField="usrStatus" HeaderText="Empl Status" SortExpression="usrStatus" />
                        <asp:BoundField DataField="usrDateEmployed" HeaderText="Date Employed" SortExpression="usrDateEmployed" />
                        <asp:BoundField DataField="usrDateAdded" HeaderText="Date Created" SortExpression="usrDateAdded" />
                        <asp:BoundField DataField="usrActive" HeaderText="Acct Active" SortExpression="usrActive" />
                    </Columns>
                    <RowStyle CssClass="greytable" />
                    <AlternatingRowStyle CssClass="whitetable" />
                    <PagerStyle CssClass="greytable" />
                    <HeaderStyle HorizontalAlign="Left" ForeColor="#FFFFFF" CssClass="tablecolors_title" />                            
                    <EmptyDataTemplate>
                    There are no records to show in this report
                    </EmptyDataTemplate>
                </asp:GridView>
                <asp:SqlDataSource ID="SqlList" runat="server" 
                    ConnectionString="<%$ ConnectionStrings:smartlvConnectionString %>" 
                    SelectCommandType="StoredProcedure"
                    SelectCommand="stpUsers_Report">
                    <SelectParameters>
                        <asp:QueryStringParameter QueryStringField="comId" Name="comId" DefaultValue="0" Type="Int32" />
                        <asp:QueryStringParameter QueryStringField="dptId" Name="dptId" DefaultValue="0" Type="Int32" />
                        <asp:QueryStringParameter QueryStringField="secId" Name="secId" DefaultValue="0" Type="Int32" />
                        <asp:QueryStringParameter QueryStringField="usrId" Name="usrId" DefaultValue="0" Type="Int32" />
                        <asp:QueryStringParameter QueryStringField="sdt" Name="usrDateAdded1" ConvertEmptyStringToNull="true" Type="DateTime" />
                        <asp:QueryStringParameter QueryStringField="edt" Name="usrDateAdded2" ConvertEmptyStringToNull="true" Type="DateTime" />
                    </SelectParameters>
                </asp:SqlDataSource>
            </td> 
        </tr> 
     </table> 

</asp:Content>

