body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #BDD3EF;
}

.error_text 
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Red;    
	background-color: Yellow;
}
 
.contentbox
{
	background-image: url('/imagebank/bg.gif');    
}

.titlebar 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    
    color: Navy;
    background-image: url('/imagebank/titlebg.png');
}

.whitetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}


a.blacktext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}

a.blacktext2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}

.menuwrap 
{
    border: 2px solid #5693C3;
    background-color: #C2D6F0;
    padding: 5px 5px 5px 5px;    
}

a.menulinks 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;  
}

.menulinksdiv
{
    padding: 4px;
    border-bottom: 1px dashed #eeeeee;
}

.menulinksdiv_noline
{
    padding: 4px;
}
        
a.tablecolors_title 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}


a.whitetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


a.whitetext2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}


.dash {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #003366;
}

.login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-decoration: none;
	background-color: #EFF4FC;
	border: 1px solid #A8AABB;
}

.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
	color: #ffffff;
	text-decoration: none;
	background-color: orange;
	background-image: url(/images/orangebutton.jpg);
	border: 2px solid #333333;
}

.button2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
	color: #ffffff;
	text-decoration: none;
	background-color: orange;
	background-image: url(/images/bluebutton.jpg);
	border: 2px solid #333333;
}


.textbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url('/imagebank/text-bg.gif');
	background-repeat:repeat-x;
	color: #666666;
	text-decoration: none;
	border: 1px solid #cccccc;
}

.textbox2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	border: 1px solid #333333;
}

.listmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	border: 1px solid #cccccc;
}


.bigtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}

.bottomborder {
	border-bottom: 1px dashed #eeeeee;
}

.tablecolors_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #5D8AD5;
	border: 1px solid #3268C2;
}

.greytable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	background-color: #F7F7F7;
	border: 1px solid #EEEEEE;
}

.whitetable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
}

.darckgrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #CCCCCC;
	border-top: none;
	border-right: 1px solid #B5B5B5;
	border-bottom: 1px solid #B5B5B5;
	border-left: 1px solid #B5B5B5;
}

.whitetitle {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.darktitle {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.topbox 
{
    border-left: dotted 1px #cccccc;
    border-top: dotted 1px #cccccc;
    border-right: dotted 1px #cccccc;
    text-align: center;
    background-image: url('/images/topbluemainbg3.png');
    background-repeat: repeat-x
}

.topboxover
{
    border-left: dotted 1px #cccccc;
    border-top: dotted 1px #cccccc;
    border-right: dotted 1px #cccccc;
    text-align: center;
    background-image: url('/images/topbluemainbg4.png');
    background-repeat: repeat-x;
}

.sidebox
{
    background-image: url('/images/buttonbg.png');
    background-repeat: no-repeat;
    height: 26px;
    padding-left: 15px;
    font-weight: normal;
    vertical-align: middle;
    padding-top: 0px;
}

.sidebox2
{
    background-image: url('/images/buttonbg2.png');
    background-repeat: no-repeat;
    height: 26px;
    padding-left: 15px;
    font-weight: normal;
    vertical-align: middle;
    padding-top: 0px;
}