
.menu > span {
    display:inline-block;
    margin:0 auto;
}
#nav {
    display:inline;
    text-align:center;
    position:relative;
    list-style-type:none;
    width:180px;
}
#nav > li {
    float:right;
    padding-right:40px;
    position:relative;
}
#nav > li > a {
    border:1px solid transparent;
    color:#4F4F4F;
    display:block;
    font-size:90%;
    padding:3px -11px;
    position:relative;
    text-decoration:none;
}
#nav > li > a:hover {
    
}
#nav > li.selected  > a {
    background-color:#FFFFFF;
    border-color:#999999 #999999 #FFFFFF;
    z-index:2;
}
#nav li div {
    position:relative;
}
#nav li div div {
    background-color:#FFFFFF;
    border:1px solid #999999;
    padding:12px 0;
    display:none;
    font-size:0.75em;
    margin:0;
    position:absolute;
    top:-1px;
    z-index:1;
    width:200px;
}

#nav .sep {
    
    border-left:1px solid #E3E3E3;
    bottom:0;
    height:auto;
    margin:15px 0;
    position:absolute;
    top:0;
    width:1px;
}
#nav li div ul {
    padding-left:10px;
    padding-right:10px;
    position:relative;
    width:200px;
	text-align:left;
    list-style-type:none;
}
#nav li div ul li {
    margin:0;
    padding:0;
    width:180px;
}
#nav li div ul li h3 {
    border-bottom:1px solid red;
    color:#4F4F4F;
    font-weight:bold;
    margin:0 0px 4px;
    font-size:0.95em;
    padding-bottom:3px;
    padding-top:3px;
    width:180px;
}
#nav li ul ul {
    padding:0 0 8px;
}
#nav li ul ul li {
    margin:0;
    padding:0;
}
#nav li ul ul li a {
    color:#0060A6;
    display:block;
    margin-bottom:1px;
    padding:3px 5px;
    text-decoration:none;
    font-size:0.9em;
}
#nav li ul ul li a:hover{
    color:#fff;
}
