body {
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: 13px;
	color: #333333;
    background-color: #efefef;
	/*background-color: #BDD3EF;*/
}

.error_text 
{

	color: Red;    
	background-color: Yellow;
}
 
.contentbox
{
	/*background-image: url('/imagebank/bg.gif');*/    
}

.titlebar 
{
    font-weight: bold;
    color: #333;
    /*color: Navy;
    background-image: url('/imagebank/titlebg.png');*/
}

.whitetext {

	color: #FFFFFF;
}


a.blacktext {

	color: #333333;
	text-decoration: none;
}

a.blacktext2 {

	color: #333333;
	text-decoration: none;
}

.menuwrap 
{
    border: 2px solid #5693C3;
    background-color: #C2D6F0;
    padding: 5px 5px 5px 5px;    
}

a.menulinks 
{
	color: #333333;
	text-decoration: none;  
}

.menulinksdiv
{
    padding: 4px;
    border-bottom: 1px dashed #eeeeee;
}

.menulinksdiv_noline
{
    padding: 4px;
}
        
a.tablecolors_title 
{
	color: #FFFFFF;
	text-decoration: none;
}


a.whitetext {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


a.whitetext2 {
	color: #FFFFFF;
	text-decoration: none;
}


.dash {
	color: #003366;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #003366;
}

.login {
	color: #003366;
	text-decoration: none;
	background-color: #EFF4FC;
	border: 1px solid #A8AABB;
}

.button {
	font-weight: bold;
	padding: 5px;
	color: #ffffff;
	text-decoration: none;
	background-color: orange;
	background-image: url(/images/orangebutton.jpg);
	border: 2px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 1px 1px 4px #eeeeee;
}

.button2 {
	font-weight: bold;
	padding: 5px;
	color: #ffffff;
	text-decoration: none;
	background-color: orange;
	background-image: url(/images/bluebutton.jpg);
	border: 2px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 1px 1px 4px #eeeeee;
}

.logintextbox {
    padding: 3px;
	color: #666666;
	border: 1px solid #ccc;
    width: 200px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 1px 1px 4px #eeeeee;
}

.textbox {
    padding: 3px;
	color: #666666;
	border: 1px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 1px 1px 4px #eeeeee;
}

.textbox2 {
    padding: 3px;
	color: #333333;
	text-decoration: none;
	border: 1px solid #333333;
}

.listmenu {
	color: #666666;
	text-decoration: none;
	border: 1px solid #ccc;
    padding: 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 1px 1px 4px #eeeeee;
}


.bigtext {
    color: #333333;
	font-size: 22px;
	font-weight: bold;
	font-smooth: always;
	text-shadow: 1px 1px 1px #D6E9C9;
}

.bottomborder {
	border-bottom: 1px dashed #eeeeee;
}

.tablecolors_title {
	color: #FFFFFF;
	background-color: #5D8AD5;
	border: 1px solid #3268C2;
}

.greytable {
	color: #999999;
	background-color: #F7F7F7;
	border: 1px solid #EEEEEE;
}

.whitetable {
	color: #999999;
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
}

.darckgrey {
	color: #333333;
	background-color: #CCCCCC;
	border-top: none;
	border-right: 1px solid #B5B5B5;
	border-bottom: 1px solid #B5B5B5;
	border-left: 1px solid #B5B5B5;
}

.whitetitle {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.darktitle {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.topbox 
{
    border-left: dotted 1px #cccccc;
    border-top: dotted 1px #cccccc;
    border-right: dotted 1px #cccccc;
    text-align: center;
    background-image: url('/images/topbluemainbg3.png');
    background-repeat: repeat-x
}

.topboxover
{
    border-left: dotted 1px #cccccc;
    border-top: dotted 1px #cccccc;
    border-right: dotted 1px #cccccc;
    text-align: center;
    background-image: url('/images/topbluemainbg4.png');
    background-repeat: repeat-x;
}

.sidebox
{
    background-image: url('/images/buttonbg.png');
    background-repeat: no-repeat;
    height: 26px;
    padding-left: 15px;
    font-weight: normal;
    vertical-align: middle;
    padding-top: 0px;
}

.sidebox2
{
    background-image: url('/images/buttonbg2.png');
    background-repeat: no-repeat;
    height: 26px;
    padding-left: 15px;
    font-weight: normal;
    vertical-align: middle;
    padding-top: 0px;
}