<%@ Master Language="VB" Inherits="lvMan.MasterPage" Codebehind="MasterPage.master.vb" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head runat="server">
    <title>LeaveFlow</title>
    <asp:ContentPlaceHolder id="cphMainHead" runat="server">
    </asp:ContentPlaceHolder>
    <link href="/CalendarControl.css" rel="stylesheet" type="text/css" />
    <script src="/CalendarControl.js" language="javascript"></script>     
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="css/styledrop.css" type="text/css" media="screen">
     <script type="text/javascript" src="/jquery-drop.js" language="javascript"></script>  
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        function openwin(strPath){
          window.open(strPath, "lvbig" , "toolbar=0,location=0,directories=0,status=1,menubar=0,scrollbars=1,resizable=0,width=510,height=500");
      }

      function openwin_small(strPath) {
          window.open(strPath, "lvsmall", "toolbar=0,location=0,directories=0,status=1,menubar=0,scrollbars=1,resizable=0,width=350,height=250");
      }

      function openwin_med(strPath) {
          window.open(strPath, "lvmedium", "toolbar=0,location=0,directories=0,status=1,menubar=0,scrollbars=1,resizable=0,width=800,height=600");
      }

      function loadmenus() {
          document.getElementById("divMenus").style.display = "";
      }
    </script>    
</head>
<body onload="loadmenus();">
<form runat="server">
<asp:ScriptManager ID="ScriptManager1" runat="server">
</asp:ScriptManager>
    <script type="text/javascript">
        jQuery(window).load(function () {

            $("#nav > li > a").click(function () { // binding onclick
                if ($(this).parent().hasClass('selected')) {
                    $("#nav .selected div div").slideUp(100); // hiding popups
                    $("#nav .selected").removeClass("selected");
                } else {
                    $("#nav .selected div div").slideUp(100); // hiding popups
                    $("#nav .selected").removeClass("selected");

                    if ($(this).next(".subs").length) {
                        $(this).parent().addClass("selected"); // display popup
                        $(this).next(".subs").children().slideDown(200);
                    }
                }
            });

        });
</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#zone-bar li em").click(function () {
                var hidden = $(this).parents("li").children("ul").is(":hidden");

                $("#zone-bar>ul>li>ul").hide()
                $("#zone-bar>ul>li>a").removeClass();

                if (hidden) {
                    $(this)
				   		.parents("li").children("ul").toggle()
				   		.parents("li").children("a").addClass("zoneCur");
                }
            });
        });
	</script>
<table width="1000" style="border: 2px solid #ccc;-webkit-border-radius: 10px;-moz-border-radius: 10px;-webkit-box-shadow: 1px 1px 4px #eeeeee;" bgcolor="#ffffff" cellpadding="5" cellspacing="0" align="center">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td bgcolor="#FFFFFF" style="padding-left:40px;padding-right:20px;">
                        <table cellpadding="0" cellspacing="0" class="style1">
                            <tr>
                                <td width="25%">
                                 <asp:Label ID="lblCompany" runat="server" CssClass="darktitle"></asp:Label>
                                 </td>
                                
		                       <td width="50%" align="right">
                                   <table>
                                       <tr><td style="text-align:right;">
                                    <div align="left">
                                        <img src="/imagebank/leavemansmall.jpg" alt="LeaveFlow" />
                                    </div>
                                </td>
                                           <td style="height:25px; vertical-align:middle; padding-left:20px;">
            <div style="float:left; height:25px; width:25px; margin-top:15px;"><img src="images/davatar.png" alt="" /></div> 
              <div id="zone-bar">
			<ul>
				<li>
					<span><asp:Label ID="lblLoggedInAs" runat="server"  Font-Bold="True"></asp:Label> &nbsp;
						<em class="opener-technology"> <img src="images/zonebar-downarrow.png" alt="dropdown" /></em></span>
					<ul class="technologysublist">
						<li><a href="/myprofile.aspx" class='menulinks'>My Profile</a></li>
						<li><a href="/changepassword.aspx" class='menulinks'>Change Password</a></li>
						<li><a href="/logout.aspx" class='menulinks'>Logout</a></li>
						
					</ul>
				</li>
				
			</ul>
		</div>

                                           </td></tr></table>
			                  

                                 
		                       </td>
                            </tr>
                        </table>
                     </td>
                  </tr>
                </table>
                </td>
              </tr>
              <tr>
                <td valign="bottom" bgcolor="#E6EFFA" style="background-image:url('/images/topbluemainbg2.png');background-repeat:repeat-x;padding-left:10px;padding-bottom:0px;">
                    
                    <table width="820" cellpadding="4" height="35" cellspacing="2" border="0" id="tblLinks" runat="server">
                        <tr>
                            <td height="30" width="120" id="tdMain" runat="server" class="topbox"><a href="/main.aspx" class="whitetext2">Home</a></td>
                            <td width="140" id="tdMyRequests" runat="server" class="topbox"><a href="/leavemain.aspx" class="whitetext2">My&nbsp;Leave</a></td>
                            <td width="140" id="tdApprovals" runat="server" class="topbox"><a href="/approvals" class="whitetext2">Manage Requests</a></td>
                            <td width="140" id="tdHRManagement" runat="server" class="topbox"><a href="#" class="whitetext2">HR Process</a></td>
                            <td width="140" id="tdSystemAdmin" runat="server" class="topbox"><a href="#" class="whitetext2">Setup</a></td>
                            <td width="140" id="tdReports" runat="server" class="topbox"><a href="#" class="whitetext2">Reports</a></td>
                            
                        </tr>
                    </table> 
                    <div id="divMenus" style="display:none;">
                        <cc1:HoverMenuExtender ID="hmeMyRequests" runat="Server"
                            TargetControlID="tdMyRequests"
                            PopupControlID="ppmMyRequests"
                            PopupPosition="Bottom"
                            OffsetX="0"
                            OffsetY="0"
                            PopDelay="50" />
                                                
                        <asp:Panel ID="ppmMyRequests" runat="server" CssClass="menuwrap">
                            <asp:Literal ID="litMyRequests" runat="server"></asp:Literal>
                        </asp:Panel>  
                        
                        <cc1:HoverMenuExtender ID="hmeApprovals" runat="Server"
                            TargetControlID="tdApprovals"
                            PopupControlID="ppmApprovals"
                            PopupPosition="Bottom"
                            OffsetX="0"
                            OffsetY="0"
                            PopDelay="50" />
                                                
                        <asp:Panel ID="ppmApprovals" runat="server" CssClass="menuwrap">
                            <asp:Literal ID="litApprovals" runat="server"></asp:Literal>
                        </asp:Panel>  
                        
                        <!--System Admin Sub menus-->
                        <cc1:HoverMenuExtender ID="hmeSysadmin" runat="Server"
                            TargetControlID="tdSystemAdmin"
                            PopupControlID="ppmSystemAdmin"
                            PopupPosition="Bottom"
                            OffsetX="0"
                            OffsetY="0"
                            PopDelay="50" />
                                                
                        <asp:Panel ID="ppmSystemAdmin" runat="server" CssClass="menuwrap">
                            <asp:Literal ID="litMenus" runat="server"></asp:Literal>
                        </asp:Panel>  

                         <!--HR Management Sub menus-->
                        <cc1:HoverMenuExtender ID="hmeHRManagement" runat="Server"
                            TargetControlID="tdHRManagement"
                            PopupControlID="ppmHRManagement"
                            PopupPosition="Bottom"
                            OffsetX="0"
                            OffsetY="0"
                            PopDelay="50" />
                                                
                        <asp:Panel ID="ppmHRManagement" runat="server" CssClass="menuwrap">
                            <asp:Literal ID="hrMenus" runat="server"></asp:Literal>
                        </asp:Panel>  

                         <!--Reports Sub menus-->
                        <cc1:HoverMenuExtender ID="hmeReports" runat="Server"
                            TargetControlID="tdReports"
                            PopupControlID="ppmReports"
                            PopupPosition="Bottom"
                            OffsetX="0"
                            OffsetY="0"
                            PopDelay="50" />
                                                
                        <asp:Panel ID="ppmReports" runat="server" CssClass="menuwrap">
                            <asp:Literal ID="litReports" runat="server"></asp:Literal>
                        </asp:Panel>  
                    
                    </div>                                      
                </td>
              </tr>
              <tr>
                <td style="padding-left:10px;padding-right:10px;">
                    <div style="min-height:580px;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                          <tr id="trTitle" runat="server">
                            <td height="35" style="padding-left:5px;">
                                <asp:Label ID="lblPageTitle" runat="server" CssClass="bigtext"></asp:Label>
                            </td>
                          </tr>
                          <tr id="trContent" runat="server">
                            <td valign="top">
                                <asp:ContentPlaceHolder id="cphContent" runat="server">
                                </asp:ContentPlaceHolder>
                              </td>
                          </tr>
                          <tr id="trInvalid" runat="server" visible="False">
                            <td>
                            <asp:Label ID="lblInvalidLicence" ForeColor="Red" runat="server" CssClass="darktitle" Text="This copy of LeaveFlow has an invalid license. Please contact your supplier for help."></asp:Label>
                            </td>
                          </tr>
                        </table>
                    </div>
                </td>
              </tr>
              <tr>
                <td height="40" bgcolor="#eeeeee" style="padding-left:5px;">
                    &copy; <%=Year(Now())%> <a href="http://www.leaveflow.com" class="blacktext" target="_blank">LeaveFlow.com</a>.&nbsp;&nbsp;&nbsp; All Rights Reserved &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="blacktext" href="mailto:automate@leaveflow.com">automate@leaveflow.com</a> 
                 </td>
              </tr>
            </table>
        </td>
    </tr>
</table>

</form>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38415619-2']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</body>
</html>
