﻿<%@ Page Title="LeaveFlow | hr administration" Language="VB" MasterPageFile="~/InnerMasterPage.master" AutoEventWireup="false" Inherits="lvMan.hradmin_default" Codebehind="default.aspx.vb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphInnerHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphInnerContent" Runat="Server">
    <table cellpadding="3" cellspacing="0" width="100%">
 
        <tr>
            <td>
                <asp:Literal ID="litMenus" runat="server"></asp:Literal>
            </td>
        </tr>
     </table> 
</asp:Content>

